.nav-bar {
    width: 100%;
    border-radius: 35px;
    background-image: linear-gradient(45deg, #2c2020, #251b1b);
    box-shadow:  22px -22px 45px #1f1717,
                 -22px 22px 45px #332525;
    position: absolute;

    
  .bg-linear-gradient-45deg-2c2020-251b1b {
    background: linear-gradient(45deg, #2c2020, #251b1b);
  }
  
  .border-radius-35px {
    border-radius: 35px;
  }
  
  .box-shadow-22px-22px-45px-1f1717-332525 {
    box-shadow:  22px -22px 45px #1f1717,
                -22px 22px 45px #332525;
  }

  }
